{% if calendars is defined: %}
    <section class="main">
        <h5><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>Choose a calendar</h5>
        <form method="POST" action="setcalendar">
            {% for cal in calendars %}
                <p>
                    <input class="with-gap" type="radio" id="cal{{ loop.index }}" name="calendars" value="{{ cal.id }}"/>
                    <label for="cal{{ loop.index }}">{{ cal.summary }}</label>
                    {% if cal.primary: %}
                        <script>$('#cal{{ loop.index }}').prop('checked', true)</script>
                    {% endif %}
                </p>
            {% endfor %}
           <button class="btn waves-effect waves-red" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </section>
    <aside class="sidebar">
    <div id="limit" style="position:relative; overflow:hidden;">
        <div id="latest"></div>
    </div>
    </aside>
    <script type=text/javascript>
    $(() => {
        $("input[id^='cal']").on('click', (e) => {
            $("#latest").text("");
            $("#latest").append("<i class='fa fa-spinner fa-pulse fa-3x fa-fw'></i>");
            $("#limit").animate({
                height: $("#latest").height() + 40
            }, 'slow');
            var additions = {
                credentials: 'same-origin',
                headers: new Headers({
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                }),
                method: 'POST',
                body: JSON.stringify({"cal": e.currentTarget.value}),
            };
            fetch($SCRIPT_ROOT + "/view_events", additions)
                .then(resp => {
                resp.json().then(data => {
                    $("#latest").text("");
                    Array.from(data.events).forEach(evt => {
                        var d = new Date(evt.start.dateTime);
                        $("#latest").append("<blockquote>" + d.toDateString() + " - " + d.toLocaleTimeString() + " " + $('<div>').text(evt.summary).html() + "</blockquote>");
                    });
                    $("#limit").animate({
                        height: $("#latest").height() + 40
                    }, 'slow');
                });
            }).catch(err => {
                console.error(err);
            });
        });
        $("input[id^='cal']").each((k, v) => {
            if (v.checked) v.click();
        });
        return false;
    });
   </script>
{% endif %}
